<div class="panel-primary">
    <div class="panel-heading" style="padding-left:20px">
        <div class="panel-title">Delete</div>
    </div>
    <div class="panel-body;row;col-md-12" style="width:45%;float:left;padding-left:20px">
        <form class="form-horizontal" role="form" name="myForm" novalidate>
            <h1>Old Phone</h1>
            <div class="form-group">
                <label class="col-md-2">
                    phoneBrand：
                </label>
                <div class="col-md-10">
                    <input type="text" ng-model="phone.brand" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    phoneType：
                </label>
                <div class="col-md-10">
                    <input type="text" ng-model="phone.type" name="type" id="type" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    productNo：
                </label>
                <div class="col-md-10">
                    <input type="text" ng-model="phone.productNo" name="productNo" id="proNo" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    startDate:
                </label>
                <div class="col-md-10">
                    <input type="date" ng-model="phone.startDate" name="startDate" id="startDate" disabled />
                </div>
            </div>
            <div class="form-group" id="abandonDate" ng-show="phone.state==2">
                <label class="col-md-2">
                    abandonDate:
                </label>
                <div class="col-md-10">
                    <input type="date" ng-model="phone.abandonDate" name="abandonDate" id="abandonDate" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">
                    deleteDate：
                </label>
                <div class="col-md-10">
                    <input type="date" ng-model="phone.deleteDate" name="date" id="date" ng-mousedown="theDateIsRight()" ng-blur="validateDateLegal();" required />
                    <br>
                    <span ng-show="!isDeleteDateLegal">
                        <font color="#FACC2E ">The date is not right</font>
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">
                    deleteReason：
                </label>
                <div class="col-md-10" ng-mouseleave="otherReason()">
                    <select ng-model="phone.deleteReason" ng-mousedown="theReasonIsEmpty();theReasonChange()" ng-mouseleave="changeRea()" ng-change="validateDeleteReasonNotEmpty()" required>
                        <option value="">please select</option>
                        <option ng-repeat="x in deleteReasonList">{{x.deleteReasonName}}</option>
                    </select>
                    <br ng-if="!isDeleteReasonLegal">

                    <div ng-model="isOther" ng-show="phone.deleteReason=='other'">
                        <textarea rows="5" cols="25" ng-model="phone.otherReason" ng-mousedown="theReasonIsEmpty()" ng-blur="validateOtherReasonNotEmpty()" placeholder="please input your reasons"></textarea>
                    </div>

                    <span ng-show="!isDeleteReasonLegal">
                        <font color="#FACC2E ">The reason is not legal</font>
                    </span>
                </div>
            </div>

            <div>
                <input class="btn btn-primary" type="button" value="homepage" ng-click="backToIndex()" />
                <input ng-disabled="!isDeleteDateLegal || !isDeleteReasonLegal" class="btn btn-primary" type="submit" ng-click="validate();submitMsg()" value="next" />
                <!--<input ng-show="!isOK" class="btn btn-primary" style="background-color: #808080;" type="button" value="next" ng-mouseenter="validate()" />-->
            </div>
        </form>
    </div>
</div>
