<link href="css/cart.css" rel="stylesheet" type="text/css">

<!-- 引入header的内容 -->
<div ng-include="'include/header.html'"></div>

<div id="wrap">
	<!-- 标题信息 -->
	<ul id="title">
<!-- 		
		<li>
			<input name="allC" type="checkbox" value="" onclick="" />
			<span id="title_checkall_text">全选</span>
		</li>
		 -->
		<li class="li_prod">商品</li>
		<li>单价（元）</li>
		<li>数量</li>
		<li>小计（元）</li>
		<li>操作</li>
	</ul>

	<!-- 购物信息 -->
	<ul class="prods" ng-repeat="product in cartList">
<!-- 		
		<li>
			<input type="checkbox" class="allC" name="allC" />
		</li>
	 -->	
		<li class="li_prod">
			<img src="{{product.productImagePath}}" width="90" height="90" class="prodimg" />
			<span class="prodname">{{product.productName}}</span>
		</li>
		<li class="li_price">{{product.productPrice}}</li>
		<li>
			<a class="delNum" ng-click="subProductToCart(product.productId)">-</a>
			<input class="buyNumInp" type="text" value="{{product.productNum}}">
			<a class="addNum" ng-click="addProductToCart(product.productId)">+</a>
		</li>
		<li class="sum_price">{{product.priceCount}}</li>
		<li><a id="" class="delProd" ng-click="deleteProductToCart(product.productId)">删除</a></li>
	</ul>
	<!-- 总计条 -->
	<div id="total">
		<div id="total_1">
<!-- 			
			<input type="checkbox" class="allC" name="allC" />
			<span>全选</span>
			<a id="del_a" href="javascript:void(0)">删除选中的商品</a>
			 -->
			<div id="div_sum">
				<span id="span_1">总价：</span>
				<span>￥</span>
				<span id="span_2" class="total_sum_price">{{priceCount}}</span>
			</div>
		</div>
		<div id="total_2">
			<a id="goto_order" href="#!/bookstore/payPage">去结算</a>
		</div>
	</div>
</div>
