<div class="panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Recheck</div>
    </div>
    <div class="panel-body">
        <div class="row;col-md-12">
            <form class="form-horizontal" role="form" name="myForm">
                <div class="form-group">
                    <label class="col-md-5" id="brand">
                        phoneBrand：<font color="blue">{{phone.brand}}</font>
                    </label>
                </div>
                <div class="form-group" id="type">
                    <label class="col-md-5">
                        phoneType：<font color="blue">{{phone.type}}</font>
                    </label>
                </div>
                <div class="form-group" id="productNo">
                    <label class="col-md-5">
                        productNo：<font color="blue">{{phone.productNo}}</font>
                    </label>
                </div>
                <div class="form-group" id="startDate">
                    <label class="col-md-5">
                        startDate：<font color="blue">{{phone.startDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
                <div class="form-group" id="abandonDate" ng-show="phone.state == 2">
                    <label class="col-md-5">
                        abandonDate：<font color="blue">{{phone.abandonDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
                <div class="form-group" id="deleteReason">
                    <label class="col-md-5">
                        deleteReason：<font color="blue">{{phone.deleteReason}}</font>
                    </label>
                </div>
                <div class="form-group" id="abandonDate">
                    <label class="col-md-5">
                        deleteDate：<font color="blue">{{phone.deleteDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
            </form>
        </div>
        <input class="btn btn-primary" type="button" value="previous" ng-click="cancle(2)" />
        <input class="btn btn-primary" type="button" value="homepage" ng-click="cancle(1)" />
        <input class="btn btn-primary" type="button" value="submit" ng-click="submitMsg()" />
    </div>
</div>
