<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pro.sunhao.bookstore.dao.ProductListDao">

    <select id="selectProductByParameter" resultType="pro.sunhao.bookstore.pojo.ProductBase">
		select * from product_base
		where (product_name like #{searchStr} or product_desc like #{searchStr})
		and product_kind like #{productKind}
		and #{priceHigh}>=product_price and product_price>=#{priceLow}
	</select>

</mapper>