<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pro.sunhao.bookstore.dao.ProductInfoDao">

    <select id="selectProductInfoById" parameterType="long" resultType="pro.sunhao.bookstore.pojo.ProductBase">
		select * from product_base
		where product_id=#{productId}
		order by product_id
		limit 1
	</select>

</mapper>