<link href="css/manageProduct.css" rel="stylesheet" type="text/css">

<h1>商品管理</h1>
<a href="#!/bookstore/addProduct">添加商品</a>
<hr>
<table align="center" bordercolor="black" border="1" width="90%" cellspacing="0px" cellpadding="5px">
	<tr>
		<th>商品图片</th>
		<th>商品名称</th>
		<th>商品种类</th>
		<th>商品单价</th>
		<th>库存数量</th>
		<th>描述信息</th>
		<th>确定</th>
		<th>删除</th>
	</tr>
	<tr ng-repeat="product in productList">
		<td><img width="120px" height="120px" src="{{product.productImagePath}}" /></td>
		<td><input type="text" style="width:40px" ng-model="product.productName"></input></td>
		<td><input type="text" style="width:40px" ng-model="product.productKind"></input></td>
		<td><input type="text" style="width:40px" ng-model="product.productPrice"></input></td>
		<td><input type="text" style="width:40px" ng-model="product.productCount"></input></td>
		<td><input type="text" style="width:40px" ng-model="product.productDesc"></input></td>
		<td><a style="text-decoration: none" href="" ng-click="updateProductById(product.productId, product.productName, product.productKind, product.productPrice, product.productCount, product.productDesc)">确定</a></td>
		<td><a style="text-decoration: none" href="" ng-click="deleteProductById(product.productId)">删除</a></td>
	</tr>
</table>
