<div class="panel-primary">
    <div class="panel-heading" style="padding-left:20px">
        <div class="panel-title">Check</div>
    </div>

    <!-- New Phone -->
    <div class="panel-body" style="float:left; width:50%; padding-left:20px">
        <h1>New Phone</h1>
        <div class="row;col-md-12">
            <form class="form-horizontal" role="form" name="checkForm">
                <div class="form-group">
                    <label class="col-md-5" id="brand">
                        phoneBrand：<font color="blue">{{phone.brand}}</font>
                    </label>
                </div>
                <div class="form-group" id="type">
                    <label class="col-md-5">
                        phoneType：<font color="blue">{{phone.type}}</font>
                    </label>
                </div>
                <div class="form-group" id="productNo">
                    <label class="col-md-5">
                        productNo：<font color="blue">{{phone.productNo}}</font>
                    </label>
                </div>
                <div class="form-group" id="startDate">
                    <label class="col-md-5">
                        startDate：<font color="blue">{{phone.startDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
                <div class="form-group" id="endDate">
                    <label class="col-md-5">
                        endDate：<font color="blue">{{phone.endDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
            </form>
        </div>
    </div>

    <!-- Old Phone -->
    <div class="panel-body" style="float:left; width:50%" ng-model="isCheck" ng-show="isReplace">
        <h1>Old Phone</h1>
        <div class="row;col-md-12;">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-5" id="oldBrand">
                        phoneBrand：<font color="red">{{oldPhone.brand}}</font>
                    </label>
                </div>
                <div class="form-group" id="oldType">
                    <label class="col-md-5">
                        phoneType：<font color="red">{{oldPhone.type}}</font>
                    </label>
                </div>
                <div class="form-group" id="productNo">
                    <label class="col-md-5">
                        productNo：<font color="red">{{oldPhone.productNo}}</font>
                    </label>
                </div>
                <div class="form-group" id="startDate">
                    <label class="col-md-5">
                        startDate：<font color="red">{{oldPhone.startDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
                <div class="form-group" id="endDate">
                    <label class="col-md-5">
                        endDate：<font color="red">{{oldPhone.endDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
                <div class="form-group" id="deleteDate">
                    <label class="col-md-5" ng-show="isReplace">
                        abandonDate：<font color="red">{{phone.startDate | date:'yyyy-MM-dd'}}</font>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group;col-md-offset-5;col-md-10" style="padding-bottom:20px;width:60%;padding-top:30px;float:left;margin-left:20px">
        <input class="btn btn-primary" type="button" value="previous" ng-click="cancle(2)" />
        <input class="btn btn-primary" type="button" value="homepage" ng-click="cancle(1)" />
        <input class="btn btn-primary" type="submit" value="submit" ng-click="submitMsg()" />
    </div>
</div>